name: Cleanup Old Images

on:
  schedule:
    - cron: "0 2 * * 0"
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Delete untagged container images
        uses: actions/delete-package-versions@v4
        with:
          package-name: "go-runtime-observer"
          package-type: "container"
          min-versions-to-keep: 3
          delete-only-untagged-versions: "true"
          token: ${{ secrets.GITHUB_TOKEN }}
